# Dependencies
node_modules

# Build output
dist

# Vite temporary config copies
vite.config.js.timestamp-*.mjs

# Logs
*.log
npm-debug.log*

# Editor / OS
.DS_Store
.vscode
.idea

# Env
.env
.env.local
